@import "tailwindcss";
body {
  font-family: var(--font-poppins), sans-serif;
}
.guides-swiper .swiper-pagination-bullet {
  background-color: #FF561D; 
  opacity: 0.2;
  
}

.guides-swiper .swiper-pagination-bullet-active {
  background-color: #EC221F; 
   opacity: 1;

}
.guides-swiper .swiper-pagination {
  margin-top: 24px; 
  position: relative; 
}

/*  */
.custom-swiper-nav {
  position: relative;
  overflow: visible; 
}
.custom-swiper-nav .swiper-button-prev,
.custom-swiper-nav .swiper-button-next {
  color: #6b7280 !important; 
  width: 24px;
  height: 24px; 
  position: absolute;
}

.custom-swiper-nav .swiper-button-prev {
  left: -7px;
 


}

.custom-swiper-nav .swiper-button-next {
  right: -5px;
}

.custom-swiper-nav .swiper-button-prev::after,
.custom-swiper-nav .swiper-button-next::after {
  font-size: 18px !important; 
  color: #6b7280 !important;
}
